// ------------------- //
// Quicksand           //
// ------------------- //

@font-face {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	src: url("../font/quicksand/quicksand-regular.eot");
	src: url("../font/quicksand/quicksand-regular.eot?#iefix") format("embedded-opentype"),
	     url("../font/quicksand/quicksand-regular.woff2") format("woff2"),
	     url("../font/quicksand/quicksand-regular.woff") format("woff"),
	     url("../font/quicksand/quicksand-regular.ttf") format("truetype"),
	     url("../font/quicksand/quicksand-regular.svg#quicksand") format("svg");
}

@font-face {
	font-family: "Quicksand";
	font-style: italic;
	font-weight: 400;
	src: url("../font/quicksand/quicksand-regularitalic.eot");
	src: url("../font/quicksand/quicksand-regularitalic.eot?#iefix") format("embedded-opentype"),
	     url("../font/quicksand/quicksand-regularitalic.woff2") format("woff2"),
	     url("../font/quicksand/quicksand-regularitalic.woff") format("woff"),
	     url("../font/quicksand/quicksand-regularitalic.ttf") format("truetype"),
	     url("../font/quicksand/quicksand-regularitalic.svg#quicksand") format("svg");
}

@font-face {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	src: url("../font/quicksand/quicksand-bold.eot");
	src: url("../font/quicksand/quicksand-bold.eot?#iefix") format("embedded-opentype"),
	     url("../font/quicksand/quicksand-bold.woff2") format("woff2"),
	     url("../font/quicksand/quicksand-bold.woff") format("woff"),
	     url("../font/quicksand/quicksand-bold.ttf") format("truetype"),
	     url("../font/quicksand/quicksand-bold.svg#quicksand") format("svg");
}

@font-face {
	font-family: "Quicksand";
	font-style: italic;
	font-weight: 700;
	src: url("../font/quicksand/quicksand-bolditalic.eot");
	src: url("../font/quicksand/quicksand-bolditalic.eot?#iefix") format("embedded-opentype"),
	     url("../font/quicksand/quicksand-bolditalic.woff2") format("woff2"),
	     url("../font/quicksand/quicksand-bolditalic.woff") format("woff"),
	     url("../font/quicksand/quicksand-bolditalic.ttf") format("truetype"),
	     url("../font/quicksand/quicksand-bolditalic.svg#quicksand") format("svg");
}

// ------------------- //
// Lovelo              //
// ------------------- //

@font-face {
	font-family: "Lovelo Black";
	font-style: normal;
	font-weight: 400;
	src: url("../font/lovelo/lovelo_black-regular.eot");
	src: url("../font/lovelo/lovelo_black-regular.eot?#iefix") format("embedded-opentype"),
	     url("../font/lovelo/lovelo_black-regular.woff2") format("woff2"),
	     url("../font/lovelo/lovelo_black-regular.woff") format("woff"),
	     url("../font/lovelo/lovelo_black-regular.ttf") format("truetype"),
	     url("../font/lovelo/lovelo_black-regular.svg#lovelo") format("svg");

}
