h1, h2, h3, h4, h5, h6
	font-family: "Lovelo Black"

h1, h2, h3
	color: $dark1

p
	line-height: 1.6

a
	border-bottom: 1px solid $accent
	color: $accent
	text-decoration: none
	&:hover
		border-color: darken($accent, 10%)
		color: darken($accent, 10%)

hr
	margin: 1em 0
	border: 0
	border-bottom: 1px solid $dark4
