header.header
	.container
		a.header__logo.shop-logo(href="/")
			include /assets/img/blender-logo.svg
			h1.shop-logo__name {{ site.name }}

		nav.header__nav
			a(href="#") Contact
			| 
			a(href="#") Account
			| 
			a(href="#") Cart
