.payment
	.container
		h3.marketing-heading.marketing-heading--ondark Easy Payment
		include /assets/img/creditcards/mastercard.svg
		include /assets/img/creditcards/paypal.svg
		include /assets/img/creditcards/visa.svg
		include /assets/img/creditcards/amex.svg
		include /assets/img/creditcards/discover.svg
