.cart
	&__product
		+cf
		padding: 2em 0
		border-bottom: 1px solid $dark4

		&:last-child
			border-bottom: none

		&__info, .quantity, &__price
			float: left

		&__info
			width: 60%

		.quantity
			width: 30%

		&__price
			float: right
			width: 10%
			text-align: right
