.cart
	&__product
		+cf
		padding: 2em 0
		border-bottom: 1px solid $dark4

		&:last-child
			border-bottom: none

		@media (max-width: 559px)
			&__info, &__quantity, &__price
				margin: .5em 0

		@media (min-width: 560px)
			&__info, &__quantity, &__price
				float: left

			&__info
				width: 50%

			&__quantity
				width: 35%
				margin-top: -.7rem
				text-align: right

			&__price
				float: right
				width: 15%
				text-align: right
