$accent: #109df0

$light1: rgba(white, 1.00) // Headings and Icons
$light2: rgba(white, 0.70) // Text
$light3: rgba(white, 0.30) // Disabled and Hint Text
$light4: rgba(white, 0.12) // Dividers

$dark1:  rgba(black, 0.77) // Headings
$dark2:  rgba(black, 0.54) // Text and Icons
$dark3:  rgba(black, 0.26) // Disabled and Hint Text
$dark4:  rgba(black, 0.12) // Dividers

@import base/normalize
@import base/font

@import base/base
@import base/typography
@import base/table
@import base/form
