| {% extends "templates/layouts/index.twig" %}

| {% block content %}

main.page-content
	.container
		h1.page-title {{ wp_title }}

	| {% if cart_empty %}
	.container
		p Your cart is currently empty.
		a.button.button--blue(href="{{ shop_url }}") Return To Shop
	
	| {% else %}
	form.cart(action="{{ action }}", method="post")
		.container
			| {% for product in cart_products %}
			.cart__product
				.cart__product__info
					a(href="{{ product.remove_url }}" title="Remove this item ") × 
					| {{ product.title }} ({{ product.price }})
				| {% if product.quantity %}
				.cart__product__quantity.counter
					button.counter__subtract(type="button") -
					input.counter__number(name="{{ product.quantity.name }}", type="number", value="{{ product.quantity.value }}", min="{{ product.quantity.min }}", max="{{ product.quantity.max }}")
					button.counter__add(type="button") +
				| {% endif %}
				.cart__product__price {{ product.subtotal }}
			| {% endfor %}

		.container
			| {% do action('wp_nonce_field', 'woocommerce-cart') %}
			a.right.button.button--blue(href="{{ checkout_url }}") Proceed to Checkout
			button.right(name="update_cart", type="submit", value="Update Cart") Update Cart

	| {% endif %}

| {% endblock %}
