| {% extends "templates/layouts/index.twig" %}

| {% block content %}

main.page-content
	.container
		h1.page-title {{ function('woocommerce_page_title') }}

	.container.container--no-space
		ul.products {{ function('archive_loop') }}

| {% endblock %}
