| {% extends "templates/layouts/index.twig" %}

| {% block content %}
| {% for post in posts %}

main.page-content
	.container
		h1.page-title {{ post.title }}
	.container
		p {{ post.content }}

| {% endfor %}
| {% endblock %}
