| {% extends "templates/layouts/index.twig" %}

| {% block content %}

main.page-content.product-page
	.container
		img.product-page__img(src="{{ thumbnail }}")
		h1 {{ title }}
		p {{ price }}
		form(method="post")
			input(type="hidden" name="add-to-cart" value="{{ id }}")
			button(type="submit") {{ cart_add }}
		

| {% endblock %}
