doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title.
			{% if wp_title %}
				{{ wp_title }} - {{ site.name }}
			{% else %}
				{{ site.name }}
			{% endif %}
		meta(name="description", content="{{ site.description }}")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		link(rel="stylesheet", href="{{ theme.link }}/style.css")
	body
		| <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
